*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.header {
    color: white;
    background-size: cover;
    background-image: url(./IMG/IMAGE\ \(9\).png);
    height: auto;
}
.vector_link {
    margin-left: 450px;
    color: white;
    border: 2px solid #1F2732;
    padding: 25px 45px;
    transition: .5s;
}
.vector {
    padding-top: 25px;
}
.navbar_2 .container {
    display: flex;
}
.hr_color {
    margin-top: 25px;
}
.vector_link:hover {
    background-color: #1F2732;
}
.vector_list {
    margin-top: 45px;
    display: flex;
}
.Pages_link {
    margin-top: 25px;
    margin-left: 25px;
    transition: .5s;
    color: white;
}
.Pages_link:hover {
    color: #D1B06B;
}
.hr_vector {
    margin-top: 35px;
}
.box_phone_number {
    margin-top: 50px;
    margin-left: 350px;
    display: flex;
}

.number_color {
    color: #D1B06B;
}
.box_number {
    margin-left: 10px;
    margin-top: 8px;
}
.box_email_address {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
}
.main .container {
    display: flex;
    justify-content: space-between;
}
.main_box1 {
    width: 48%;
    margin-top: 50px;
}
.main_title {
    margin-top: 15px;
    font-size: 45px;
    font-weight: 300;
}
.main_textColor {
    color: #D1B06B;
    font-size: 20px;
    margin-top: 15px;
}
.main_wrapper {
    margin-top: 15px;
    border: 2px solid #D1B06B;
    padding: 10px 35px;
    color: white;
    transition: .5s;
}
.main_wrapper:hover {
    background-color: #D1B06B;
    color: black;
    font-weight: bold;
}
.box_main {
    width: 50%;
}

@media (max-width: 1160px) {
    .container {
        width: 1060px;
    }
    .vector_link {
        margin-left: 400px;
    }
    .box_phone_number {
        margin-left: 290px;
    }
}
@media (max-width: 1060px) {
    .container {
        width: 960px;
    }
    .vector_link {
        margin-left: 290px;
    }
    .box_phone_number {
        margin-left: 190px;
    }
}
@media (max-width: 960px) {
    .container {
        width: 860px;
    }
    .vector_link {
        margin-left: 190px;
    }
    .box_phone_number {
        margin-left: 90px;
    }
}
@media (max-width: 860px) {
    .container {
        width: 760px;
    }
    .vector_link {
        margin-left: 120px;
    }
    .box_phone_number {
        margin-left: 0px;
    }
}
@media (max-width: 860px) {
    .container {
        width: 760px;
    }
    .vector_list {
        margin-left: 200px;
    }
    .navbar_2 .container {
        display: block;
    }
    .box_email_address {
        margin-left: 300px;
    }
    .box_phone_number {
        margin-left: 300px;
}
}
@media (max-width: 760px) {
    .container {
        width: 660px;
    }
    .vector_list {
        margin-left: 150px;
    }
    .navbar_2 .container {
        display: block;
    }
    .box_email_address {
        margin-left: 220px;
    }
    .box_phone_number {
        margin-left: 220px;
    }
    .vector_link {
        display: none;
    }
    .vector {
        margin-left: 120px;
    }
}
@media (max-width: 660px) {
    .container {
        width: 560px;
    }
    .vector_list {
        margin-left: 120px;
    }
    .navbar_2 .container {
        display: block;
    }
    .box_email_address {
        margin-left: 200px;
    }
    .box_phone_number {
        margin-left: 200px;
    }
    .vector_link {
        display: none;
    }
    .vector {
        margin-left: 100px;
    }
}
@media (max-width: 560px) {
    .container {
        width: 460px;
    }
    .vector_list {
        margin-left: 70px;
    }
    .navbar_2 .container {
        display: block;
    }
    .box_email_address {
        margin-left: 150px;
    }
    .box_phone_number {
        margin-left: 150px;
    }
    .vector_link {
        display: none;
    }
    .vector {
        margin-left: 30px;
    }
}
@media (max-width: 460px) {
    .container {
        width: 360px;
    }
    .vector_list {
        margin-left: 50px;
    }
    .navbar_2 .container {
        display: block;
    }
    .box_email_address {
        margin-left: 100px;
    }
    .box_phone_number {
        margin-left: 100px;
    }
    .vector_link {
        display: none;
    }
    .vector {
        margin-left: 10px;
        width: 90%;
    }
}
@media (max-width: 360px) {
    .container {
        width: 270px;
    }
    .vector_list {
        display: none;
    }
    .navbar_2 .container {
        display: block;
    }
    .box_email_address {
        margin-left: 50px;
    }
    .box_phone_number {
        margin-left: 50px;
    }
    .vector {
        margin-left: 10px;
    }
}